{% extends 'base_user_interface.html' %}

{% block title %} Registered Users {% endblock %}

{% block content %}
    <h2 style="text-align: center;">Registered Users</h2>

    <style>
        table {
            margin: 20px auto;
            border-collapse: collapse;
            width: 80%;
            background-color: #ecf5f5; /* Light blue background color */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        th, td {
            border: 1px solid #b0c4de; /* Light steel blue border */
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #5bc0de; /* Blue header background color */
            color: #fff; /* White text color */
        }

        tr:nth-child(even) {
            background-color: #f9f9f9; /* Light gray background for even rows */
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Car Make</th>
                <th>Car Type</th>
                <th>Reg Number</th>
                <th>Branch</th>
                <th>Service</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user['firstname'] }}</td>
                    <td>{{ user['lastname'] }}</td>
                    <td>{{ user['email'] }}</td>
                    <td>{{ user['phone'] }}</td>
                    <td>{{ user['carmake'] }}</td>
                    <td>{{ user['cartype'] }}</td>
                    <td>{{ user['regnumber'] }}</td>
                    <td>{{ user['branch'] }}</td>
                    <td>{{ user['service'] }}</td>
                    <td>{{ user['date'] }}</td>
                    <td>{{ user['time'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
{% endblock %}
